svg.header-svg {
    display: inline-block;
    width: 177px; 
    height: 52px;
    padding: 0;
}

.float-right {
    float: left;
}

.header-svg-logo {
    fill: #000000;
}

.nav-bar {
    padding: 1%;
}

.nav-item {
    display: inline-block;
    padding: 1%;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    text-align: justify;
    text-transform: uppercase;
}

a.nav-link:hover {
    color: #000000;
    border-bottom: 2px solid #72E6EB;
}

.knockout {
    color: #FFFFFB;
}

.knockout-darker {
    color: #C4C4BC
}

.footer-bg {
    background-color: #1D2328;
}

svg.footer-svg {
    width: 132px; 
    height: 40px;
}

.footer-svg-logo {
    fill: #FFFFFB;
}

.project-acceptance {
    text-transform: uppercase;
}
.copyright-bg {
    background-color: #0A161F;
}

.copyright-text {
    color: #4D4D4D;
}


