html {
    background-color: black;
}

#logocontainer {
	text-align: center;
    margin: auto;
    padding: 10% 0% 10% 0%;
}

a#buglink {
	display: inline;
}

.heading {
    text-align: center;
    color: #6d6d6d; 
}

.cta {
    text-align: center;
    color: #6d6d6d;
    font-size: 2.75rem;
    line-height: 3.0rem;
    
}

#emaillinkcontainer {
    text-align: center; 
}

a#emaillink {
	color: #b9b9b9;
    font-size: 2.75rem;
}